.search__btn-submit {
  background-color: #FF6838;
  width: 34px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-image: url(../../../images/search__icon.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center;
  position: absolute;
  right: 6px;
  top: 6px;
}

.search__btn-submit:hover {
  cursor: pointer;
  opacity: 0.8;
}