.cards {
  padding: 70px 70px 10px;
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 48px) / 3));
  gap: 37px 24px;
}

@media (max-width: 768px) {
  .cards {
    padding: 70px 30px 30px;
    grid-template-columns: repeat(2, calc((100% - 30px) / 2));
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .cards {
    padding: 40px 10px 26px;
    grid-template-columns: repeat(1, 100%);
    gap: 14px;
  }
}