@media (max-width: 768px) {
  .page_type_auth {
    justify-content: center;
    height: 100vh;
  }
}

@media (max-height: 620px) {
  .page_type_auth {
    justify-content: flex-start;
    height: auto;
  }
}

@media (max-width: 600px) {
  .page_type_auth {
    justify-content: flex-start;
    height: auto;
  }
}