.header__films {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

@media (max-width: 768px) {
  .header__films {
    margin: 159px auto 0;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .header__films {
    margin-top: 144px;
  }
}