.card__duration {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin-left: 16px;
}

@media (max-width: 600px) {
  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}