.about__timeline {
  margin-top: 110px;
  display: flex;
}

@media (max-width: 768px) {
  .about__timeline {
    margin-top: 93px;
  }
}

@media (max-width: 600px) {
  .about__timeline {
    margin-top: 60px;
  }
}