.about__paragraph {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
}

@media (max-width: 768px) {
  .about__paragraph {
    margin-top: 22px;
  }
}

@media (max-width: 600px) {
  .about__paragraph {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
}