.profile__btn-edit {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  background: none;
  border: none;
  outline: none;
  align-self: center;
  margin: auto 0 16px;
  padding: 0;
}

.profile__btn-edit:hover {
  cursor: pointer;
}