.header__land-logo {
  width: 722px;
  object-fit: cover;
  margin-top: auto;
  margin-left: auto;
}

@media (max-width: 910px) {
  .header__land-logo {
    width: calc(100% - 14px * 2);
    margin: auto auto 0;
  }
}