.more__btn {
  width: 320px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000;
  padding: 11px 0 9px;
  background-color: #F9F9F9;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 0 auto;
}

.more__btn:hover {
  cursor: pointer;
}