.card__btn-like {
  width: 14px;
  height: 12px;
  background-image: url(../../../images/card__like.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  border: none;
  outline: none;
}

.card__btn-like:hover {
  cursor: pointer;
}